/* Text */
h2 {
	font-family: 'Linden Hill', serif;
	color: #ffffff;
}

h1 {
	font-family: 'Alfa Slab One', cursive;
}


P {
	font-family: 'Linden Hill', serif;
	color: #404241;
}

/* RWD_Image */
.main-image img {
      align-content: center;
      height: auto;
      max-width: 100%;
		}

/* NavBar */
	.active {
							 background-color: #F588F2;
							 text-align: center;}
							 li {
							   text-align: center;
							   display: inline-block;
							 }

							 li a {
							     display: inherit;
							     color: white;
							     text-align: center;
							     padding: 14px 16px;
							     text-decoration: none;
							 }

							 /* Change the link color to #111 (black) on hover */
							 li a:hover {
							     background-color: #111;
							     text-align: center;
							 }

/* FlexBox */
	#container {
	            display: flex;
	            flex-wrap: wrap;
							font-family: 'Linden-Hill', serif;
							color: black;}
/* boxes */
	.box-1 {
	    background-color: #EFFCF5;
	    width: 100%;
	    text-align: center;
	    padding: 5px;
			color: #662A9B;}

	.box-2 {
	    background-color: #CBF8DF;
	    width: 100%;
	    text-align: center;
	    padding: 5px;
			color: #D689D7;}

	.box-3 {
			background-color: #9EBDAB;
			width: 100%;
			text-align: center;
			padding: 5px;
			color: #D689D7}

	.box-4 {
	     background-color: #839D8F;
	     width: 100%;
	     max-height: 350px;
	     text-align: center;
	     padding: 5px;
	     overflow: scroll;
			color:#F4D3F5;}

@media screen and (min-width: 1015px) {

	.box-1 {
	    	width: 100%;}
	.box-2 {
	    	width: 50%;}
	.box-3 {
				width: 50%;}
	.box-4 {
	  		width: 100%;}
	 }
